.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-menu {
  height: 45px;
  width: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-button {
  background-color: #61dafb;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.App-button:hover {
  background-color: #21a1f1;
}

input[type="text"],
textarea {
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #61dafb;
  outline: none;
}

input[type="checkbox"] {
  margin: 0 5px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  width: 1000px;
}

.card {
  background-color: #61dafb;
  color: black;
  border-radius: 10px;
  padding: 20px;
  width: 750px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card p {
  margin: 10px 0;
}

.history-card {
  background-color: #61dafb;
  color: black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.history-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.history-card p {
  margin: 10px 0;
}

.input[type="text"],
.select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  font-size: 16px;
}

.input[type="text"]:focus,
.select:focus,
textarea:focus {
  border-color: #61dafb;
  outline: none;
}

.select {
  width: 50%;
}

.input-group {
  margin-bottom: 20px;
  width: 100%;
}

/* Responsive design */
@media (max-width: 600px) {
  .App {
    padding: 10px;
  }

  .input[type="text"],
  .select,
  .App-button {
    font-size: 14px;
  }
}
